<h2>Cocktails Lab</h2>
<div class="card-container">
  <%@cocktails.each do |cocktail|%>
  <div class="card-cocktail col-md-3">
    <h3><%=cocktail.name%></h3>
    <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
    <%=link_to "More infos", cocktail_path(cocktail)%>
    <%#=image_tag("cocktail.jpg",width: 500) %>

  </div>
  <% end %>
  </div>
</div>
<br>
<br>
<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary"%>


